html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: gray;    
    font-size: 20px;
}
  
h1 {
    color: white;    
    font-size: 35px;    
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: lightgray;
}

header {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

li p {
    color: black;
    display: none;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#unsmartmen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not_carousel_item {
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.not_carousel_item img {
    width: 600px;
    height: 600px;

}

.slider img {
    width: 300px;
    height: 300px;
}

#hdlg1 {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logolink {
    margin: 10px;
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}

.bx-prev, .bx-next {
    z-index: 10 !important; 
    transition: transform 0.3s !important; 
}

.bx-prev:hover, .bx-next:hover {
    transform: scale(1.1) !important;  
}

.bx-prev:active, .bx-next:active {
    transform: scale(0.9) !important;  
}

#hdlg2 {    
    width: 60%;
}

header  a {
    color: grey; 
    font-size: 20px;       
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: font-size 0.3s, color 0.3s; 
}

header a:hover {
    font-size: 24px;  
    color: black;  
}

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-between;
}

nav ul li {
    padding: 8px; 
}

img {
    height: 75px;
}

#bannerstart {
    font-size: 35px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
}

#StarBanner {
    margin: 5%;
}

.Subscribe_Button {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    background-color: gray;
    border-color: black;
    border-style: solid; 
    border-radius: 15px;    
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transition: background-color 0.3s, transform 0.3s;
}

.Subscribe_Button img {
    height: 15px;
}

.Subscribe_Button:hover {
    background-color: darkgray;
    transform: scale(1.05); 
}

.Subscribe_Button:active {
    background-color: lightgray;
    transform: scale(0.95);  
}

.realbanner {
    background-color: gray;
    margin: 20px;
}

#Galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#Galery img {
    height: 300px;
    width: 350px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transition: transform 0.3s, box-shadow 0.3s; 
}

#Galery img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

#License {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#licenseDIV {
    margin: 50px;
    width: 70%; 
    height: 200px;   
    overflow-y: auto; 
    border-radius: 2px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    transition: transform 0.3s, box-shadow 0.3s;
}

  #licenseDIV:hover {
    transform: scale(1.02);  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);  
}

#licenseDIV p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    transition: color 0.3s;  
}

#licenseDIV p:hover {
    color: #555;  
}

#ender {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;    
}

footer {
    background-color: lightgray;
    margin: 0;
    padding-left: 20px;    
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: gray;    
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#social img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

#login form {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}

input {
    height: 30px;
}

input::placeholder {
    color: white; 
    font-size: 20px;
}

.logment {
    width: 41%;
    margin-top: 7px;    
    margin-bottom: 7px;
    background-color: gray;
    color: white;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transition: background-color 0.3s, transform 0.3s;
}

.logment:hover {
    background-color: darkgray;
    transform: scale(1.05);
}

.logment:focus {
    background-color: lightgray; 
    transform: scale(1.05);
}

.btn:hover {
    background-color: darkgray;
    transform: scale(1.05);
}

.btn:active {
    background-color: lightgray;
    transform: scale(0.95); 
}

#logginouted {
    display: flex;
    align-items: center;
    justify-content:center;
}

textarea {
    font-size: 25px;
    height: 120px;
    background-color: gray;
    color: white;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    padding: 10px; 
    transition: background-color 0.3s, transform 0.3s; 
}

textarea::placeholder {
    color: white; 
    
}

textarea:hover {
    background-color: darkgray;
    transform: scale(1.05);
}

textarea:focus  {
    background-color: lightgray;
    transform: scale(1.05);
}

.menu-toggle {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    top: 10px;
    right: 10px;
    position: fixed;
}

.menu-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px auto;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        z-index: 1001; 
        transition: right 0.3s ease-in-out; 
   
    }

    header {
        width: 100vw;
    }

    h1 {
        font-size: 28px; 
    }

    .Subscribe_Button {
        font-size: 15px;
        width: 300px;
        border-width: 5px; 
    }

    .Subscribe_Button img{
        height: 25px;
    }

    nav ul {
        position: fixed;
        z-index: 9999;
        top: 0;
        right: -100%;
        width: 50%;
        min-width: 230px;
        height: 1200vh;
        background-color: lightgray;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 10px;
        border-color: black;
        border-style: solid;   
        border-width: 5px; 
        transition: right 0.3s ease-in-out; 
    }

    nav ul li {     
        margin: 10px;  
    }
          
    nav ul li a {      
        font-size: 30px;
    }   

    header a:hover {
        font-size: 34px;  
        color: black;  
    } 

    li p {
        color: black;
        display: block;
    }

    p {
        font-size: 20px;
    }

    .carousel_item {
        height: 270px;
    }

    .not_carousel_item img {
        width: 150px;
        height: 150px;    
    }
    
    .not_carousel_item p {
        font-size: 18px;   
    }

    #Galery img {
        height: 150px;
        width: 175px;
    }

    #licenseDIV {
        width: 300px; 
        height: 400px;   
        overflow-y: auto;   
    }

    .nav-active {
        right: 0;
    }

    #social img {
        height: 30px;
        margin-left: 10px;
    }
    
    #login form {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;   
    }

    textarea {
        font-size: 25px;
        height: 120px;
    }

    input::placeholder {
        color: white; 
        font-size: 20px;
    }

    #logginouted {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }

    textarea {
        font-size: 25px;
        height: 120px;  
        width: 400px;
    }

    input::placeholder {
        color: white; 
        font-size: 15px;
    }
    
    .logment {
        width: 200%;
    }

    #social img {
        width: 25px;
        height: 25px;
    }

    .toggle-active {
        right: 170px;  
    }
    
    .toggle-active .menu-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle-active .menu-bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-active .menu-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
