html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: gray;    
    font-size: 20px;
}
h1{
    color: white;    
    font-size: 35px;
}
p{
    color: lightgray;
}
header{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}
.headerInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#unsmartmen{
    display: flex;
    justify-content: center;
}
.not_carousel_item{
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
    justify-content: center;

}
.slider img{
    width: 300px;
    height: 300px;
}
#hdlg1{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logolink{
    margin: 10px;
}
#hdlg2{    
    width: 60%;
}
header  a {
    text-decoration: none; 
    color: grey; 
    font-size: 20px;
}

a {    text-decoration: none;     }

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-between;
}
nav ul li {
    padding: 8px; 
}
img{
    height: 75px;
}
#bannerstart{
    font-size: 35px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
}
#StarBanner{
    margin: 5%;
}
.Subscribe_Button {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    background-color: gray;
    border-color: black;
    border-style: solid; 
    border-radius: 15px;    
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
}
.Subscribe_Button img{
    height: 15px;
}
.realbanner{
    background-color: gray;
    margin: 20px;
}
#Galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#Galery img{
    height: 300px;
    width: 350px;
}
#License{
    padding-left: 10px;
}
#licenseDIV{
    margin: 50px;
    width: 70%; 
    height: 200px;   
    overflow-y: auto;   
  }
#ender{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;    
}
footer{
    background-color: lightgray;
    margin: 0;
    padding-left: 20px;    
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p {
    color: gray;
}
#social img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
#login form {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    }

input{
    height: 30px;
    }
textarea{
    font-size: 25px;
    height: 120px;
}
input::placeholder {
    color: white; 
    font-size: 20px;
}
.logment {
    width: 41%;
    margin-top: 7px;    
    margin-bottom: 7px;
    background-color: gray;
    color: white;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
}
#login{    
    padding: 20px;
}
#logginouted{
    display: flex;
    align-items: center;
    justify-content:center;
}
textarea{
    background-color: gray;
    color: white;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    padding: 10px;  
}
textarea::placeholder {
    color: white; 
}



.menu-toggle {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    top: 10px;
    right: 10px;
    position: fixed;
}

.menu-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px auto;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        z-index: 1001; 
        transition: right 0.3s ease-in-out; 
   
    }
    header{
        width: 100vw;
    }
    header a{
        font-size: 15px;
    }
    h1 {
        font-size: 28px; 
    }

    .Subscribe_Button {
        font-size: 15px;
        width: 300px;
        border-width: 5px; 
    }
    .Subscribe_Button img{
        height: 25px;
    }
    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        width: 150px;
        height: 1200vh;
        background-color: lightgray;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 10px;
        border-color: black;
        border-style: solid; 
        border-width: 5px; 
        transition: right 0.3s ease-in-out; 
    }
    p {
        font-size: 20px;
    }
    #Galery img{
        height: 150px;
        width: 175px;
    }
    #licenseDIV{
        width: 300px; 
        height: 400px;   
        overflow-y: auto;   
      }
    .nav-active {
        right: 0;
    }
    #social img{
        height: 30px;
        margin-left: 10px;
    }
    input{
        height: 20px;
        }
    textarea{
        font-size: 25px;
        height: 120px;
    }
    input::placeholder {
        color: white; 
        font-size: 20px;
    }
    #social img{
        width: 25px;
        height: 25px;
    }

    .toggle-active {
        right: 170px;  
    }
    .toggle-active .menu-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle-active .menu-bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-active .menu-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
